


*{
  font-family: 'Crimson Text', serif;
}

#navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 9vh;
    z-index: 1;
    background-color: #20273b;
}

#navbar h1{
    font-family: 'Crimson Text', serif;
    margin-left: 63vw;
    color: white;
    letter-spacing: 1.7vw;
    font-style: italic;
    font-size: 4vw;
    top:0;
    margin-top: 0;
    
}



.lowbut{
  font-size: 1.3vw;
}



#sidebar{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 18vw;
    height: 100vh;
    z-index: 2;
    background-color: #20273b;
    justify-content: flex-start;
    padding-top: 1.2vh;
    padding-left: .5vh;
    gap: 4vh;
}

.sidebox{
    display: flex;
    flex-direction: row;
    width: 94%;
    height: 7%;
    border: black 1px solid;
    align-items: center;
    border-radius: 15px;
    background-color: antiquewhite;
    margin-left: .2vw;
    
}

.hex{
  display: flex;
    width: 62%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    top: 0;
    font-size: 100%;
}



.lock{
    width: 22%;
    height: 100%;
}
.star{
    width: 22%;
    height: 100%;
}

.hexin{
  width: 90%;
  height: 50%;
  border-radius: 5px;
  top:10%;
  border: 1px solid rgba(0,0,0,.5);
  background-color: #f5f5f5;
  font-size: 1vw;
  letter-spacing: .03vw;
}

.lock img{
  width: 100%;
  height: 100%;
  border: none;
  align-self: center;
  object-fit: contain;
  left: 50vw;
}

.star img{
  width: 100%;
  height: 100%;
  border: none;
  align-self: center;
  object-fit: contain;
}

.fillcomp, .fillclash, .analo, .fillrand{
  text-align: center;
  justify-content: center;
}

button{
  background-color: transparent;
  width: 100%;
  height: 100%;
  border-radius:15px;
  border: 1px solid rgba(125,125,125,.9);
}

#lockbutton1,#lockbutton2,#lockbutton3,#lockbutton4,#lockbutton5{
  border-radius: 0px;
  border-top:transparent;
  border-bottom: transparent;
}

#starbutton1,#starbutton2,#starbutton3,#starbutton4,#starbutton5{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top:transparent;
  border-bottom: transparent;
  border-left: transparent;
}








#display {
    background-color: #2d354a;
    height: 100%;
    width: 100vw;
    border: 1px black solid;
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
  }

  #mainwindow{
    background-color: #20273b;
    height: 79vh;
    width: 75vw;
    border: 1px black solid;
    z-index: 0;
    position: absolute;
    top: 14vh;
    left: 21.5vw;
    border-radius: 10px;
  }

  #colors{
    display: flex;
    justify-content: space-evenly;
    height: 58vh;
    width: 68vw;
    border-right: 1px black solid;
    position: absolute;
    top: 5vh;
    left: 3.4vw;
  }



.color{
    display: flex;
    z-index: 2;
    width: 20%;
    height: 100%;
    z-index: 0;
    /*border: 1px solid rgba(60,60,60,.5);*/
}

#c1{
  background-color: #6e1593;
}

#c2{
  background-color: #1d3215;
}

#c3{
  background-color: #0f156c;
}

#c4{
  background-color: #008000;
}

#c5{
  background-color: #a52a2a;
}










  #textbox{
    background-color: antiquewhite;
    height: 9vh;
    width: 68vw;
    border: 1px black solid;
    z-index: 0;
    position: absolute;
    top: 65vh;
    left: 3.4vw;
    border-radius: 5px;
  }

  #textbox p{
    margin-left: 2vw;
    margin-right: 2vw;
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,.5);
    background-color: #f5f5f5;
    border-radius: 5px;
    text-align: center;
  }

 