



#navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    border: black 1px solid;
    z-index: 1;
    background-color: white;
}

#navbar h1{
    margin-left: 50rem;
}







#sidebar{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 15vw;
    height: 100vh;
    border: black 1px solid;
    z-index: 2;
    background-color: wheat;
    justify-content: flex-start;
    padding-top: 1.5vh;
    padding-left: 2vh;
    gap: 3vh;
}

.sidebox{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 7%;
    border: black 1px solid;
    align-items: center;
    border-radius: 15px;
    
}

.hex{
    border: black 1px solid;
    width: 65%;
    height: 100%;
}
.lock{
    border: black 1px solid;
    width: 22.5%;
    height: 100%;
}
.star{
    border: black 1px solid;
    width: 22.5%;
    height: 100%;
}










#display {
    background-color: black;
    height: 100%;
    width: 100vw;
    border: 1px black solid;
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
  }

  #mainwindow{
    background-color: gray;
    height: 73vh;
    width: 75vw;
    border: 1px black solid;
    z-index: 0;
    position: absolute;
    top: 18vh;
    left: 20vw;
    border-radius: 10px;
  }

  #colors{
    display: flex;
    justify-content: space-evenly;
    background-color: red;
    height: 55vh;
    width: 66.8vw;
    border: 1px black solid;
    z-index: 0;
    position: absolute;
    top: 5vh;
    left: 4vw;
  }



.color{
    display: flex;
    border: black 1px solid;
    z-index: 2;
    width: 20%;
    height: 100%;
}




  #textbox{
    background-color: #fff8d2;
    height: 9vh;
    width: 66.8vw;
    border: 1px black solid;
    z-index: 0;
    position: absolute;
    top: 62vh;
    left: 4vw;
    border-radius: 5px;
  }

  #textbox p{
    margin-left: 2vw;
    margin-right: 2vw;
  }

  